<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.saas.dao.DeskInfoDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.power.saas.entity.DeskInfo">
        <result column="id" property="id"/>
        <result column="type_Id" property="typeId"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- t_desk_info table all fields -->
    <sql id="Base_Column_List">
        id,type_Id,name
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="typeId != null and typeId != ''">
                and type_Id = #{typeId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="DeskInfo">
        insert into t_desk_info(id,type_Id,name)
 values(#{id},#{typeId},#{name})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="DeskInfo">
        update t_desk_info set type_Id=#{typeId},name=#{name} where id=#{id}
    </update>

    <!-- 修改记录，修改不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="DeskInfo">
        update t_desk_info set
        <trim suffixOverrides=",">
            <if test="typeId != null  ">
                type_Id=#{typeId},
            </if>
            <if test="name != null  ">
                name=#{name},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 桌台信息表 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_desk_info where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete 	 from t_desk_info where id = #{id}
    </delete>

    <!-- 桌台信息表 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="DeskInfo">
        select count(1) from t_desk_info
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询桌台信息表列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="DeskInfo">
        select
        <include refid="Base_Column_List"/>
        from t_desk_info
        <include refid="Base_Where_Clause"/>
        <if test="pageUtil != null">
            limit #{pageUtil.startRow},#{pageUtil.endRow}
        </if>
    </select>
</mapper>   
