<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.saas.dao.UserDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.power.saas.entity.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- t_user table all fields -->
    <sql id="Base_Column_List">
        id,user_name,password,type
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="User">
        insert into t_user(id,user_name,password,type)
 values(#{id},#{userName},#{password},#{type})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="updateByPrimaryKey" parameterType="User">
        update t_user set user_name=#{userName},password=#{password},type=#{type} where id=#{id}
    </update>

    <!-- 修改记录，修改不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="User">
        update t_user set
        <trim suffixOverrides=",">
            <if test="userName != null  ">
                user_name=#{userName},
            </if>
            <if test="password != null  ">
                password=#{password},
            </if>
            <if test="type != null  ">
                type=#{type},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 根据id查询 用户信息表 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_user where id = #{id}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete 	 from t_user where id = #{id}
    </delete>

    <!-- 用户信息表 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="User">
        select count(1) from t_user
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询用户信息表列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <include refid="Base_Where_Clause"/>
        <if test="pageUtil != null">
            limit #{pageUtil.startRow},#{pageUtil.endRow}
        </if>
    </select>
</mapper>   
